name: yolo-toy
channels:
  - pytorch
  - nvidia        
  - conda-forge
  - defaults
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchmetrics
  - pytorch-cuda  
  - numpy
  - opencv       
  - pycocotools